.menuContainer{
    display: flex;
    width: 100vw;
    background-color: #fff;
    position: fixed;
    top: 0;
    box-shadow: 0 8px 6px -6px #FEEEE9;
    z-index: 1;
}

.leftContainer{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.logoStyle{
    width: 193px;
    height:89px;
}

.rightContainer{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin-right: 40px;
}

.menuContent{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-size: 14px;
}

.menuContent li{
    margin-left: 30px;
    cursor: pointer;
}
  
.rightContainer li:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #7E3838;
    transition: 300ms;
}

.rightContainer li:hover:after {
    width: 80%;
}

.rightContainer li:hover{
    color: #FFB53C;
}
.active{
    color: #FFB53C;
}