
.homeContainer{
    display: flex;
    flex: 1;
    height:90vh;
    background-color: #f0f0f0;
    background-image: url("../../assets/header.jpg");
    background-repeat: no-repeat;
  	background-size: 100% 100%;
  	margin-top:50px;
}

.homeContentContainer{
	display: flex;
	flex:1;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	/*border:1px solid;*/
}

.left{
	/*border:1px solid;*/
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 80px;
	/*align-items: flex-end;*/
}

.left h1{
	text-transform:uppercase;
	color: #7E3838;
}

.left p{
	text-transform:capitalize;
}

.right{
	/*border:1px solid;*/
	flex:1;
}