
.contactContainer{
    display: flex;
    flex: 1;
    /*height:75vh;*/
    /*background-color: #f0f0f0; */
}

.contact-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-container{
    display: flex;
    justify-content: center;
    flex:1;
    width:70%;
    border: 1px solid #FFB53C;
    border-radius: 2px;
    margin-bottom: 40px;
}

.left-contact{
    flex:1;
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; */
}

.right-contact{
    display: flex;
    flex: 1;
    background-color: #FFB53C;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    align-items: center;
    justify-content: center;
}

.form-items{
    display: flex;
    /* flex:1; */
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
}

.right-content{
    margin: 20px;
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #7E3838;
    padding-left: 50px;
}

.cDetails{
    /* border: 1px solid #7E3838; */
}

.cDetails p, .form-items p{
    margin-left: 20px;
}