.missionContainer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    /* height:50vh; */
    background-color: #fff;
}

.missionContent{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
}

.missiContent p{
    color:#9b9b9b;
    /* font-size: 15px; */
}

.missions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1;
    /*width:65vw;*/
}

.missiLeft{
    flex:1;
}

.missi{
    /*border: 1px solid #fff;*/
    padding: 15px;
    width: 40vw;
    flex:1;
    /*margin: 10px;*/
    /*margin-bottom: 20px;*/
    /*border-radius: 15px;*/
    /*background: #fff;*/
}

.missi-heading{
    line-height: 5px;
}

.missi-list{
    line-height: 1.5;
    font-size: .9rem;
    color: #9B9B9B;
}